<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs", {title: "home", styles:
    "/css/home.css"}) %>
  </head>

  <body>
    <header><%- include("../partials/header.ejs", {page: "home"}) %></header>

    <div class="container-fluid vh-90 d-flex">
      <div class="chat-list col-4 border-end p-3">
        <form action="/chat/direct" method="post" id="searchForm">
          <input
            type="text"
            name="searchUserInput"
            id="searchUserInput"
            required
          />
          <button type="submit">Search User</button>
        </form>
        <h5 class="mb-3">Chats</h5>

        <div>
          <ul class="list-group chat-items">
            <% chats.forEach(chat => { %>
            <li
              class="list-group-item d-flex align-items-center chat-item joinRoomButton"
              data-chat-id="<%= chat.chat.id %>" data-chat-name="<%= chat.chat.name %>"
            >
              <div
                class="avatar rounded-circle bg-primary text-white text-center me-3"
                style="width: 40px; height: 40px"
              ></div>
              <div>
                <strong><%= chat.chat.name %></strong>
                <p class="text-muted small m-0"></p>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>

      <div class="chat-area col-8 d-flex flex-column">
        <div class="chat-header border-bottom p-3">
          <h5 class="m-0 currentRoom">Current room: <span>X</span></h5>
        </div>
        <button class="leaveRoomButton bg-red-500 text-black p-2 ml-2">
          Leave Room
        </button>

        <div class="chat-messages flex-grow-1 p-3 overflow-auto">
          <div class="message mb-3">
            <div class="message-text p-2 rounded"></div>
            <small class="text-muted messages"></small>
          </div>
        </div>

        <div class="messageForm p-3 border-top d-flex align-items-center">
          <input
            type="text"
            class="messageInput form-control me-2"
            placeholder="Type a message..."
          />
          <button class="sendButton btn btn-primary">Send</button>
        </div>
      </div>
    </div>

    <script>
      const username = "<%= user.username %>";
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/js/home.js"></script>
  </body>
</html>
