<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs", {title: "home", styles:
    "/css/home.css"}) %>
  </head>

  <body>
    <header><%- include("../partials/header.ejs", {page: "home"}) %></header>

    <div class="container-fluid vh-90 d-flex">
      <div id="contact" class=" col-4 border-end p-3">
        <div class="search-container position-relative mb-3">
          <form action="/chat/direct" method="post" id="searchForm">
            <input
              type="text"
              name="searchUserInput"
              id="searchUserInput"
              class="form-control"
              placeholder="Search users..."
              autocomplete="off"
            />
            <div
              id="searchResults"
              class="position-absolute w-100 bg-white border rounded shadow-sm d-none"
              style="z-index: 1000"
            ></div>
          </form>
        </div>
        <button
          id="createGroupButton"
          class="bg-red-500 text-black p-2 ml-2 rounded"
        >
          Create a group
        </button>
        <div class="chat-list">
          <h5 class="mb-3">Chats</h5>
          <ul class="list-group chat-items">
            <% chats.forEach(chat => { %>
            <li
              class="list-group-item d-flex align-items-center chat-item joinRoomButton"
              data-chat-id="<%= chat.id %>"
              data-chat-name="<%= chat.name %>"
            >
              <div
                class="avatar rounded-circle text-white text-center me-3 d-flex align-items-center justify-content-center"
                style="width: 40px; height: 40px; background-color: #007bff"
              >
                <% if (chat.name) { %> <%= chat.name.substring(0,
                2).toUpperCase() %> <% } %>
              </div>
              <div>
                <strong><%= chat.name %></strong>
                <p class="text-muted small m-0"></p>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>

      <div id="chatRoom"
        class="col-8 d-flex flex-column align-items-center justify-content-center"
      >
        <div class="chat-placeholder w-100">
          <div class="chat-placeholder-text rounded p-3">
            <h2>Search for a user OR create a group</h2>
          </div>
        </div>

        <form
          id="createGroupForm"
          class="w-100 d-flex flex-column align-items-center justify-content-start mt-3 d-none"
        >
          <div class="mb-3">
            <label for="groupName" class="form-label">Group name:</label>
            <input
              type="text"
              name="groupName"
              id="groupName"
              class="form-control"
              required
            />
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                class="bg-red-500 text-black p-2 ml-2 rounded"
              >
                Submit
              </button>
              <a href="/">
                <button
                  type="button"
                  class="bg-red-500 text-black p-2 ml-2 rounded"
                >
                  Cancel
                </button></a
              >
            </div>
          </div>
        </form>

        <div class="chat-area w-100 d-flex flex-column d-none">
          <div class="chat-header border-bottom p-3">
            <h5 class="m-0 currentRoom">Current room: <span>X</span></h5>
          </div>
          <button class="leaveRoomButton bg-red-500 text-black p-2 ml-2">
            Leave Room
          </button>

          <div class="chat-messages flex-grow-1 p-3 overflow-auto">
            <div class="message mb-3">
              <div class="message-text p-2 rounded"></div>
              <small class="text-muted messages"></small>
            </div>
          </div>

          <div class="messageForm p-3 border-top d-flex align-items-center">
            <textarea
              type="text"
              class="messageInput form-control me-2"
              placeholder="Type a message..."
            ></textarea>
            <form action="" method="post" enctype="multipart/form-data">
              <div class="m-3">
                <label for="attach-file" class="paperclip"
                  ><i class="fa-solid fa-paperclip"></i
                ></label>
                <input
                  type="file"
                  class="form-control attach-file d-none"
                  id="attach-file"
                  name="attach-file"
                />
              </div>
            </form>
            <button class="sendButton btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      const usernameLogged = "<%= user.username %>";
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/js/home.js"></script>
  </body>
</html>
