<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs", { title: "Post", styles: "/css/post.css"
    }) %>
    <script src="/js/post.js" defer></script>
  </head>
  <body>
    <header><%- include("../partials/header.ejs", { page: "post" }) %></header>
    <div class="container mt-4">
      <h1 class="text-center mb-4">My Posts</h1>
      <div class="row">
        
        <div id="posts" class="col-md-8">
          <% if (posts.length > 0) { %> <% posts.forEach(post => { %>
          <div class="card mb-3">
            <div class="card-body">
              <div>
                <div class="d-flex justify-content-between"><h5 class="card-title text-capitalize"><%= post.user.username %></h5>
                  <div id="like" data-post-id="<%= post.id %>" class="delete-button">
                    <i class="fa-solid fa-trash"></i>
                  </div></div>
                
                <p class="card-text"><%= post.content %></p>
                <% if (post.imageUrl) { %>
                <div>
                  <img
                    src="<%= post.imageUrl %>"
                    alt="Post Image"
                    class="post-image rounded mt-3"
                  />
                </div>
                <% } %>
                <p class="text-muted mt-2">
                  <small
                    >Posted on <%= post.createdAt.toLocaleString() %></small
                  >
                </p>
              </div>
            </div>
          </div>
          <% }) %> <% } else { %>
          <p class="text-center">No posts yet. Post something!</p>
          <% } %>
        </div>

        <div id="createPostForm" class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <form action="/post" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="photo" class="form-label">Upload Photo</label>
                  <input
                    type="file"
                    class="form-control"
                    id="photo"
                    name="photo"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="content" class="form-label"
                    >What's on your mind?</label
                  >
                  <textarea
                    class="form-control"
                    id="content"
                    name="content"
                    rows="3"
                    placeholder="Write your post here..."
                    required
                  ></textarea>
                </div>
                <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary">POST</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
